body {
  background: lightblue;
  background-image: url("http://localhost:8000/static/chatapp_bg.jpeg");
  background-repeat: repeat;
}

.round-dash {
  border: dotted 8px lightblue;
  border-radius: 24px !important;
}
