<div id="content_page">
  <div class="header">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">ChatApp!</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search user.."
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
            <!--<i class="fa fa-search" aria-hidden="true"></i>-->
          </button>
        </form>
        <ul class="navbar-nav mt-2 mt-lg-0">
          <!--<li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>-->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdownId"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Account</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Action 1</a>
              <a class="dropdown-item" href="#">Action 2</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="list_user_connected bg-info"></div>

  <div class="chat_message_history">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
      voluptatibus modi delectus, quo voluptates rem eligendi. Velit enim a,
      maxime explicabo excepturi harum quidem est. Molestias expedita quod dicta
      consequuntur?
    </p>
  </div>

  <div class="chat_message_input">
    <input
      type="text"
      class="form-control"
      name=""
      id=""
      aria-describedby="helpId"
      placeholder=""
    />
  </div>
</div>

<!--<div class="container-fluid bg-dark h-100">
  <div class="row bg-danger">
    <div class="col-fluid col-2 bg-info">
      <p class="bg-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis harum
        voluptatum suscipit officiis doloribus. Aut at et atque rem provident
        unde autem corporis illum, fugiat possimus suscipit sed, reiciendis
        soluta!
      </p>
      <p class="bg-dark">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iure
        recusandae provident pariatur ut rerum laudantium, omnis distinctio
        voluptatibus laborum, nostrum soluta nihil est minima sapiente velit
        deleniti sint laboriosam.
      </p>
      <p class="bg-secondary">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
        magnam corporis labore. Iusto repudiandae amet consequuntur maiores.
        Deserunt fuga, totam vero magni quas natus unde id, facere expedita
        dolores aspernatur.
      </p>
    </div>
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
      doloremque veritatis aperiam doloribus magni dicta soluta provident
      expedita nostrum non facilis explicabo optio eos, accusamus quis labore id
      asperiores deserunt?
    </div>
  </div>
</div>-->
